{% extends 'partials/base.html.twig' %}

{% block body %}
<body class="error bg-red">
{% endblock %}

{% block content %}
    <div class="page-content">
        <div class="wrapper c-white centered f-uni-grotesk-regular padding-left-s padding-right-s">
            <h1 class="f-moyenage">{{ page.header.http_response_code }}</h1>
            {# {{ page.content }} #}
            <p>No toto! Táto stránka neexistuje, ale ďalej môžete pokračovať na prvú kapitolu:</p>
            {% include 'partials/first-chapter-cta.html.twig' %}
        </div>
    </div>
{% endblock %}
