@import "vendor/bourbon/bourbon";

$rs: 16px;
$font-serif:    Linux Libertine;
$font-sans:     "Uni Grotesk Regular", Open Sans, MundoSans, "Helvetica Neue", Arial, Helvetica, sans-serif;
$font-regular:  "Uni Grotesk Regular", Open Sans, MundoSans, "Helvetica Neue", Arial, Helvetica, sans-serif;
$font-bold:     "Uni Grotesk Bold", Open Sans, MundoSans, "Helvetica Neue", Arial, Helvetica, sans-serif;
$font-moyenage: "Moyenage14", "Linux Libertine";

$red: #E00000;
$grey: #AEAEAE;
$greyed-out: #6D6D6D;
$dark-green: #3F3C25;
$caption: #666665;
$light-grey: #EFEFEF;
$semi-dark-grey: #CCC;
$dark-grey: #7B7B7B;
$text-color: #000;
$bg-color: #f9f9f7;

@mixin respond-to($breakpoint) {
  @media only screen and (max-width: $breakpoint + px) {
    @content;
  }
}

html,body
{
  overflow-x: hidden; 
  background-color: $bg-color;
}

a {
  text-decoration: underline;
}
a:hover {
  color: $light-grey;
}
a, a:visited, a:hover, a:active {
  // color: inherit;
}

@include selection {
  background-color: $red;
}

.f-moyenage { 
  font-family: $font-moyenage;
  font-weight: normal;
  font-style: normal;
}
.f-uni-grotesk-regular {
  font-family: "Uni Grotesk Regular";
}
.f-uni-grotesk-bold {
  font-family: "Uni Grotesk Bold";
}
.f-uppercase {
  text-transform : uppercase;
}

.centered {
  text-align: center;
}

.c-grey {
  color: $grey;
  * {
    color: $grey;
  }
}
.c-white {
  color: white;
  * {
    color: white;
  }
}
.c-black {
  color: black;
  * {
    color: black;
  }
}
.bg-red {
  background-color: $red !important;
}
.bg-grey {
  background-color: $dark-grey !important;
}
.bg-dark-green {
  background-color: $dark-green !important;
}


.margin-bottom-s {
  margin-bottom: 20px !important;
}
.margin-bottom-m {
  margin-bottom: 40px !important;
}
.margin-top-0 {
  margin-top: 0px !important;
}
.margin-top-xs {
  margin-top: 5px !important;
}
.margin-top-s {
  margin-top: 20px !important;
}
.padding-bottom-s {
  padding-bottom: 20px !important;
}
.padding-top-0 {
  padding-top: 0px !important;
}
.padding-top-s {
  padding-top: 20px !important;
}

.logo-sng {
  position: absolute;
  left: 10px;
  top: 10px;
  width: $rs * 3;
  height: $rs * 3;
  overflow: hidden;
  z-index: 99;
  .logo {
    display: block;
    position: absolute;
    top: $rs / 2;
    left: $rs / 2;
    width: $rs * 2;
    height: $rs * 2;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.landing {
  background-color: $dark-green;
  * {
    z-index: 9;
  }
  
  .landing-image {
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    .landing-image-image {
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      text-indent: -9999px;
      padding-top: 33%;
      z-index: 1;
    }
    .landing-image-fade {
      position: absolute;
      width: 100%;
      bottom: 0;
      height: 250px;
      @include linear-gradient(to bottom, rgba(63, 60, 37, 0), $dark-green);
    }
  }
  .landing-content {
      position: relative;
      margin: 60px auto 35px;
      font-family: $font-sans;
      @include box-sizing(border-box);

      h1 {
        font-size: 105px;
        @include respond-to(805) {
          font-size: 60px;
        }
        @include respond-to(460) {
          font-size: 40px;
        }
        img.headline-logo {
          height: 65px;
          vertical-align: baseline;
          @include respond-to(805) {
            height: 35px;
          }
          @include respond-to(460) {
            height: 25px;
          }
        }
      }
      h2 {
        font-weight: bold;
        font-size: 23px;
        letter-spacing: 0.45px;
        @include respond-to(805) {
          font-size: 20px;
          margin-top: 0px;
        }
        @include respond-to(460) {
          font-size: 18px;
        }
      }
      h3 {
        font-size: 25px;
        line-height: 28px;
        text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.75);
        @include respond-to(805) {
          font-size: 20px;
          line-height: 25px;
          margin-top: 0px;
        }
        @include respond-to(460) {
          font-size: 18px;
        }
      }
      form#email-capture {
        width: 550px;
        margin: 25px auto;
        @include respond-to(805) {
          width: 500px;
        }
        @include respond-to(630) {
          width: 100%;
        }
      }
    }
}

form#email-capture {
  padding-top: 15px;
  fieldset {
    padding: 0px 15px;
    legend {
      font-size: 20px;
    }
    legend:after {
      border-bottom: none;
    }
    input#MERGE0 {
      width: 50%;
      border: none;
      margin-right: 1%;
      max-width: 300px;
      @include placeholder {
        color: black;
      }
      @include respond-to(630) {
        width: 100%;
        max-width: none;
        margin-right: 0px;
        height: 50px;
      }
    }
    button {
      border-radius: 3px;
      font-weight: 900;
      font-size: 20px;
      box-shadow : 0px 0px 10px rgba(0, 0, 0, 0.7);
      @include respond-to(630) {
        width: 100%;
        margin-top: 15px !important;
        height: 50px;
      }
    }
    p {
      font-size: 18px;
      padding-top: 15px;
    }
  }
}

.button-ghost {
  background: none;
  border: white solid 1px;
  border-radius: 3px;
  color: white;
}
.button-ghost.button-ghost-black {
  border-color: black;
  color: black;
}
.button-ghost.button-ghost-black:hover, 
  .button-ghost.button-ghost-black:focus {
    background-color: black;
    color: white;
    * {
      color: white;
    }
}


#chapter-preview {
  margin-left: 0px;
  margin-right: 25px;

  .chapter-thumb {
    * {
      color: $greyed-out !important; 
    }
    h5 {
      border-top: $greyed-out solid 2px;
      padding-top: 15px;
      margin-bottom: 5px;
    }
    p {
      margin-top: 0px;
    }
  }
}
.content {
  max-width: 700px;
}

.post.chapter {
  .article-image {
    bottom: 10vh;
    .post-meta {
      bottom: 200px;
    }
  }

  .drop-cap { 
    float: left;
    color: black;
    font-size: 125px;
    line-height: 70px;
    padding-top: 43px;
    padding-right: 15px;
    padding-left: 3px;
    font-family: Moyenage14;
  }

  .post-content {
    position: relative;
    width: inherit;
    padding-top: 15px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: "Uni Grotesk Regular";
    background-color: white;
    color: $text-color;
    z-index: 3;

    .chapter-title {
      position: absolute;
      top: -280px;
      margin-left: 0px;
      margin-right: 20px;
      color: white;
      text-shadow: 0px 1px 16px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(0, 0, 0, 0.5);
      @include respond-to(605) {
        top: -230px;
      }
      .chapter-number {
        font-size: 16px;
      }
      h1 {
        color: white;
        font-size: 80px;
        margin-bottom: -30px;
        @include respond-to(605) {
          font-size: 45px;
          margin-bottom: -20px;
        }
        @include respond-to(460) {
          font-size: 40px;
          margin-bottom: -15px;
        }

      }
      .post-reading {
        position: relative;
        top: 0px;
        right: 0px;
        font-size: 16px;
        text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25), 0px 0px 6px rgba(0, 0, 0, 0.8);
      }
    }
    
    h1 {
      font-size: 45px
    }
    h1, h2 {
      letter-spacing: normal;
    }
    h2 {
      margin-bottom: 4px;
      padding-top: 0;
    }
    h1, h2, h3, h4, h5, h6 {
      color: $text-color;
      font-family: $font-bold;
    }
    .title-date {
      font-family: "Uni Grotesk Regular";
      font-size: 18px;
      font-weight: 100;
    }
    p {
      color: $text-color;
      font-size: 18px;
    }
    h1, h2, h3, h4, h5, h6, figure, iframe, div {
      margin-left: -20px;
      margin-right: -20px;
    }
    div p {
      font-family: $font-bold;
      font-size: 25px;
    }
    figcaption {
      margin-top: 10px;
      font-style: normal;
      font-size: 14px;
    }
  }
}

.sharing button, .sharing a {
  font-size: 16px;
  margin: 10px 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.attribution { /* styles audio caption below audio player */
  padding: 10px 0 30px 0;
  text-align: center;
  font-family: $font-sans;
  font-size: 14px;
  color: $caption;
}

.audioplayer { 
  height: 2.5em; /* 40 */
  color: $dark-green;
  position: relative;
  z-index: 1;
  background: $light-grey;
  font-family: $font-sans;
  font-size: 16px;

  .audioplayer-mini
  {
    width: 2.5em; /* 40 */
    margin: 0 auto;
  }
  .audioplayer > div
  {
    position: absolute;
  }
  .audioplayer-playpause
  {
    width: 2.5em; /* 40 */
    height: 100%;
    text-align: left;
    text-indent: -9999px;
    cursor: pointer;
    z-index: 2;
    top: 0;
    left: 0;
  }
    .audioplayer-mini .audioplayer-playpause
    {
      width: 100%;
    }
    .audioplayer-playpause:hover,
    .audioplayer-playpause:focus
    {
      background-color: $semi-dark-grey;
    }
    .audioplayer-playpause a
    {
      display: block;
    }
    .audioplayer:not(.audioplayer-playing) .audioplayer-playpause a
    {
      width: 0;
      height: 0;
      border: 0.5em solid transparent; /* 8 */
      border-right: none;
      border-left-color: $dark-green;
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -0.5em 0 0 -0.25em; /* 8 4 */
    }
    .audioplayer-playing .audioplayer-playpause a
    {
      width: 0.75em; /* 12 */
      height: 0.75em; /* 12 */
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -0.375em 0 0 -0.375em; /* 6 */
    }
      .audioplayer-playing .audioplayer-playpause a:before,
      .audioplayer-playing .audioplayer-playpause a:after
      {
        width: 40%;
        height: 100%;
        background-color: $red;
        content: '';
        position: absolute;
        top: 0;
      }
      .audioplayer-playing .audioplayer-playpause a:before
      {
        left: 0;
      }
      .audioplayer-playing .audioplayer-playpause a:after
      {
        right: 0;
      }
  .audioplayer-time
  {
    width: 4.375em; /* 70 */
    height: 100%;
    line-height: 2.375em; /* 38 */
    text-align: center;
    z-index: 2;
    top: 0;
  }
    .audioplayer-time-current
    {

      left: 2.5em; /* 40 */
    }
    .audioplayer-time-duration
    {
      right: 2.5em; /* 40 */
    }
      .audioplayer-novolume .audioplayer-time-duration
      {
        border-right: 0;
        right: 0;
      }
  .audioplayer-bar
  {
    height: 0.875em; /* 14 */
    background-color: $semi-dark-grey;
    cursor: pointer;
    z-index: 1;
    top: 50%;
    right: 6.875em; /* 110 */
    left: 6.875em; /* 110 */
    margin-top: -0.438em; /* 7 */
  }
    .audioplayer-novolume .audioplayer-bar
    {
      right: 4.375em; /* 70 */
    }
    .audioplayer-bar div
    {
      width: 0;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
    .audioplayer-bar-loaded
    {
      background-color: $semi-dark-grey;
      z-index: 1;
    }
    .audioplayer-bar-played
    {
      background: $red;
      z-index: 2;
    }
  .audioplayer-volume
  {
    width: 2.5em; /* 40 */
    height: 100%;
    text-align: left;
    text-indent: -9999px;
    cursor: pointer;
    z-index: 2;
    top: 0;
    right: 0;
  }
    .audioplayer-volume:hover,
    .audioplayer-volume:focus
    {
      background-color: $semi-dark-grey;
    }
    .audioplayer-volume-button
    {
      width: 100%;
      height: 100%;
    }
      .audioplayer-volume-button a
      {
        width: 0.313em; /* 5 */
        height: 0.375em; /* 6 */
        background-color: $dark-green;
        display: block;
        position: relative;
        z-index: 1;
        top: 40%;
        left: 35%;
      }
        .audioplayer-volume-button a:before,
        .audioplayer-volume-button a:after
        {
          content: '';
          position: absolute;
        }
        .audioplayer-volume-button a:before
        {
          width: 0;
          height: 0;
          border: 0.5em solid transparent; /* 8 */
          border-left: none;
          border-right-color: $dark-green;
          z-index: 2;
          top: 50%;
          right: -0.25em;
          margin-top: -0.5em; /* 8 */
        }
        .audioplayer:not(.audioplayer-mute) .audioplayer-volume-button a:after
        {
          /* "volume" icon by Nicolas Gallagher, http://nicolasgallagher.com/pure-css-gui-icons */
          width: 0.313em; /* 5 */
          height: 0.313em; /* 5 */
          border-width: 0.25em 0.25em 0 0; /* 4 */
          left: 0.563em; /* 9 */
          top: -0.063em; /* 1 */
          -webkit-border-radius: 0 0.938em 0 0; /* 15 */
          -moz-border-radius: 0 0.938em 0 0; /* 15 */
          border-radius: 0 0.938em 0 0; /* 15 */
          -webkit-transform: rotate( 45deg );
          -moz-transform: rotate( 45deg );
          -ms-transform: rotate( 45deg );
          -o-transform: rotate( 45deg );
          transform: rotate( 45deg );
        }
    .audioplayer-volume-adjust
    {
      height: 6.25em; /* 100 */
      cursor: default;
      position: absolute;
      left: 0;
      right: 0;
      top: -9999px;
      background: $semi-dark-grey;
    }
      .audioplayer-volume:not(:hover) .audioplayer-volume-adjust
      {
        opacity: 0;
      }
      .audioplayer-volume:hover .audioplayer-volume-adjust
      {
        top: auto;
        bottom: 100%;
      }
      .audioplayer-volume-adjust > div
      {
        width: 40%;
        height: 80%;
        background-color: $dark-grey;
        cursor: pointer;
        position: relative;
        z-index: 1;
        margin: 30% auto 0;
      }
        .audioplayer-volume-adjust div div
        {
          width: 100%;
          height: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
          background: $red;
        }
    .audioplayer-novolume .audioplayer-volume
    {
      display: none;
    }

  .audioplayer *,
  .audioplayer *:before,
  .audioplayer *:after
  {
    -webkit-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
    -moz-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
    -ms-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
    -o-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
    transition: color .25s ease, background-color .25s ease, opacity .5s ease;
  }
}

#footer {
  a:hover {
    color: $light-grey;
  }
  .footer-icon {
    width: 25px;
    margin: auto 12px;
  }
  a svg #footericonsng,
  a svg #footericonfb { 
    fill: $grey;
  }
  a svg:hover #footericonsng,
  a svg:hover #footericonfb { 
    fill: $light-grey !important;
  }
  a svg.c-black #footericonsng,
  a svg.c-black #footericonfb { 
    fill: black;
  }
}
