@import "vendor/bourbon/bourbon";

$rs: 16px;
$font-serif: Linux Libertine;
$font-sans: Open Sans, MundoSans, "Helvetica Neue", Arial, Helvetica, sans-serif;

$red: #e00000;
$grey: #aeaeae;
$greyed-out: #6d6d6d;
$dark-green: #3f3c25;
$light-grey: #efefef;

@mixin respond-to($breakpoint) {
  @media only screen and (max-width: $breakpoint + px) {
    @content;
  }
}

a {
  text-decoration: underline;
}
a:hover {
  color: #efefef;
}
a, a:visited, a:hover, a:active {
  color: inherit;
}

@include selection {
  background-color: $red;
}

.f-moyenage { 
  font-family: Moyenage14;
  font-weight: normal;
  font-style: normal;
}
.f-uni-grotesk-regular {
  font-family: "Uni Grotesk Regular";
}
.f-uni-grotesk-bold {
  font-family: "Uni Grotesk Bold";
}
.f-uppercase {
  text-transform : uppercase;
}

.padding-bottom-s {
  padding-bottom: 25px !important;
}
.margin-bottom-s {
  margin-bottom: 25px !important;
}
.margin-bottom-m {
  margin-bottom: 50px !important;
}

.logo-sng {
  position: fixed;
  left: 10px;
  top: 10px;
  width: $rs * 3;
  height: $rs * 3;
  overflow: hidden;
  z-index: 99;
  .logo {
    display: block;
    position: absolute;
    top: $rs / 2;
    left: $rs / 2;
    width: $rs * 2;
    height: $rs * 2;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.centered {
  text-align: center;
}

.c-grey {
  color: $grey;
}
.c-white {
  color: white;
}
.c-black {
  color: black !important;
}
.bg-red {
  background-color: $red !important;
}

.landing {
  background-color: $dark-green;
  * {
    z-index: 9;
  }
  
  .landing-image {
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    .landing-image-image {
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      text-indent: -9999px;
      padding-top: 33%;
      z-index: 1;
    }
    .landing-image-fade {
      position: absolute;
      width: 100%;
      bottom: 0;
      height: 250px;
      @include linear-gradient(to bottom, rgba(63, 60, 37, 0), $dark-green);
    }
  }
  .landing-content {
      position: relative;
      margin: 60px auto 35px;
      // left: 10%;
      // right: 10%;
      font-family: $font-sans;
      @include box-sizing(border-box);
      @include respond-to(800) {
        left: $rs;
        right: $rs;
      }

      h1 {
        font-size: 105px;
        img.headline-logo {
          height: 65px;
          vertical-align: baseline;
        }
      }
      h2 {
        font-weight: bold;
        font-size: 23px;
        letter-spacing: 0.45px;
      }
      h3 {
        font-size: 25px;
        line-height: 28px;
        text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.75);
      }
    }
}

form#email-capture {
  width: 50%;
  margin: 25px auto;
  padding: 15px;
  legend {
    padding-top: 5px;
    font-size: 20px;
  }
  legend:after {
    border-bottom: none;
  }
  input {
    width: 50%;
    border: black solid 1px;
    margin-right: 4%;
    @include placeholder {
      color: black;
    }
  }
  button {
    border-radius: 3px;
    font-weight: 900;
    font-size: 20px;
    box-shadow : 0px 0px 10px rgba(0, 0, 0, 0.7);
  }
  p {
    font-size: 18px;
    padding-top: 15px;
  }
}

button.button-ghost {
  background: none;
  border: white solid 1px;
  border-radius: 3px;
  color: white;
}

#chapter-preview {
  margin-left: 0px;
  margin-right: 25px;

  .chapter-thumb {
    
    * {
      color: $greyed-out !important; 
    }
    h5 {
      border-top: $greyed-out solid 2px;
      padding-top: 15px;
    }
  }
}

#footer {
  a:hover {
    color: $light-grey;
  }
  .footer-icon {
    width: 25px;
    margin: auto 12px;
  }
  a svg:hover #footericonsng,
  a svg:hover #footericonfb { 
    fill: $light-grey;
  }
}
