@import "vendor/bourbon/bourbon";

$rs: 16px;
$font-serif:    Linux Libertine;
$font-sans:     "Uni Grotesk Regular", Open Sans, MundoSans, "Helvetica Neue", Arial, Helvetica, sans-serif;
$font-regular:  "Uni Grotesk Regular", Open Sans, MundoSans, "Helvetica Neue", Arial, Helvetica, sans-serif;
$font-bold:     "Uni Grotesk Bold", Open Sans, MundoSans, "Helvetica Neue", Arial, Helvetica, sans-serif;
$font-moyenage: "Moyenage14", "Linux Libertine";

$red: #E00000;
$grey: #AEAEAE;
$greyed-out: #6D6D6D;
$dark-green: #3F3C25;
$light-grey: #EFEFEF;
$dark-grey: #7B7B7B;
$text-color: #000;
$bg-color: #f9f9f7;

@mixin respond-to($breakpoint) {
  @media only screen and (max-width: $breakpoint + px) {
    @content;
  }
}

html,body
{
  overflow-x: hidden; 
  background-color: $bg-color;
}

a {
  color: inherit;
  text-decoration: underline;
  &:hover {
    color: inherit;
    text-decoration: none;
  }  
}

a, a:visited, a:hover, a:active {
  // color: inherit;
}

@include selection {
  background-color: $red;
}

button, .uk-button {
  border-radius: 3px;
}

.f-moyenage { 
  font-family: $font-moyenage;
  font-weight: normal;
  font-style: normal;
}
.f-uni-grotesk-regular {
  font-family: "Uni Grotesk Regular";
}
.f-uni-grotesk-bold {
  font-family: "Uni Grotesk Bold";
}
.f-uppercase {
  text-transform : uppercase;
}

.centered {
  text-align: center;
}

.c-grey {
  color: $grey;
  * {
    color: $grey;
  }
}
.c-white {
  color: white;
  * {
    color: white;
  }
}
.c-black {
  color: black;
  * {
    color: black;
  }
}
.bg-red {
  background-color: $red !important;
}
.bg-grey {
  background-color: $dark-grey !important;
}
.bg-dark-green {
  background-color: $dark-green !important;
}


.margin-bottom-s {
  margin-bottom: 20px !important;
}
.margin-bottom-m {
  margin-bottom: 40px !important;
}
.margin-top-0 {
  margin-top: 0px !important;
}
.margin-top-xs {
  margin-top: 5px !important;
}
.margin-top-s {
  margin-top: 20px !important;
}
.padding-bottom-s {
  padding-bottom: 20px !important;
}
.padding-top-0 {
  padding-top: 0px !important;
}
.padding-top-s {
  padding-top: 20px !important;
}

.blank-list {
  ul {
    list-style-type: none;
  }
}

.logo-sng {
  position: absolute;
  left: 10px;
  top: 10px;
  width: $rs * 3;
  height: $rs * 3;
  overflow: hidden;
  z-index: 99;
  .logo {
    background-image: url(/user/images/logo-sng.svg);
    display: block;
    position: absolute;
    top: $rs / 2;
    left: $rs / 2;
    width: $rs * 2;
    height: $rs * 2;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.logo-sng-black {
  .logo {
    background-image: url(/user/images/logo-sng-black.svg);
  }
}

.nav-about {
  position: absolute;
  top: 18px;
  right: 19px;
  z-index: 99;
  line-height: 32px;
  text-decoration: none;
  font-size: 16px;
  &.c-white:hover {
    color: $light-grey;
  }
}

.landing {
  background-color: $dark-green;
  * {
    z-index: 9;
  }
  
  .landing-image {
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    .landing-image-image {
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      text-indent: -9999px;
      padding-top: 33%;
      z-index: 1;
    }
    .landing-image-fade {
      position: absolute;
      width: 100%;
      bottom: 0;
      height: 250px;
      @include linear-gradient(to bottom, rgba(63, 60, 37, 0), $dark-green);
    }
  }
  .landing-content {
      position: relative;
      margin: 60px auto 35px;
      font-family: $font-sans;
      @include box-sizing(border-box);

      h1 {
        font-size: 105px;
        @include respond-to(805) {
          font-size: 60px;
        }
        @include respond-to(460) {
          font-size: 40px;
        }
        img.headline-logo {
          height: 65px;
          vertical-align: baseline;
          @include respond-to(805) {
            height: 35px;
          }
          @include respond-to(460) {
            height: 25px;
          }
        }
      }
      h2 {
        font-weight: bold;
        font-size: 23px;
        letter-spacing: 0.45px;
        @include respond-to(805) {
          font-size: 20px;
          margin-top: 0px;
        }
        @include respond-to(460) {
          font-size: 18px;
        }
      }
      h3 {
        font-size: 25px;
        line-height: 28px;
        text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.75);
        @include respond-to(805) {
          font-size: 20px;
          line-height: 25px;
          margin-top: 0px;
        }
        @include respond-to(460) {
          font-size: 18px;
        }
      }
      form#email-capture {
        width: 550px;
        margin: 25px auto;
        @include respond-to(805) {
          width: 500px;
        }
        @include respond-to(630) {
          width: 100%;
        }
      }
    }
}

form#email-capture {
  padding-top: 15px;
  fieldset {
    padding: 0px 15px;
    legend {
      font-size: 20px;
    }
    legend:after {
      border-bottom: none;
    }
    input#MERGE0 {
      width: 50%;
      border: none;
      margin-right: 1%;
      max-width: 300px;
      @include placeholder {
        color: black;
      }
      @include respond-to(630) {
        width: 100%;
        max-width: none;
        margin-right: 0px;
        height: 50px;
      }
    }
    button {
      border-radius: 3px;
      font-weight: 900;
      font-size: 20px;
      box-shadow : 0px 0px 10px rgba(0, 0, 0, 0.7);
      @include respond-to(630) {
        width: 100%;
        margin-top: 15px !important;
        height: 50px;
      }
    }
    p {
      font-size: 18px;
      padding-top: 15px;
    }
  }
}

.button-ghost {
  background: none;
  border: white solid 1px;
  border-radius: 3px;
  color: white;
}
.button-ghost.button-ghost-black {
  border-color: black;
  color: black;
}
.button-ghost.button-ghost-black:hover, 
  .button-ghost.button-ghost-black:focus {
    background-color: black;
    color: white;
    * {
      color: white;
    }
}

.button-return {
  background-color: white;
  color: black;
  font-size: 25px;
  padding: 10px 25px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  &:hover {
    background-color: #EEE;
    color: #111;
  }
}


#chapter-preview {
  margin-left: 0px;
  margin-right: 25px;

  .chapter-thumb {
    color: white;
    h5 {
      border-top: $greyed-out solid 2px;
      padding-top: 15px;
      margin-bottom: 5px;
      min-height: 60px;
    }
    p {
      margin-top: 0px;
    }
  }
  .chapter-thumb.disabled {
    * {
      color: $greyed-out; 
    }
  }
}
.content {
  max-width: 700px;
  @include respond-to(600) {
    padding: 0 0;
  }
}

.post.chapter, .post.subobject, .post.page {
  .article-image {
    bottom: 10vh;
    .post-meta {
      bottom: 200px;
    }
  }

  .drop-cap { 
    float: left;
    color: black;
    font-size: 125px;
    line-height: 70px;
    padding-top: 43px;
    padding-right: 15px;
    padding-left: 3px;
    font-family: Moyenage14;
  }

  .post-content, {
    position: relative;
    width: inherit;
    padding-top: 15px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: "Uni Grotesk Regular";
    background-color: white;
    color: $text-color;
    z-index: 3;

    @include respond-to(600) {
      padding-left: 20px;
      padding-right: 20px;
    }

    .chapter-title {
      position: absolute;
      top: -280px;
      margin-left: 0px;
      margin-right: 20px;
      color: white;
      text-shadow: 0px 1px 16px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(0, 0, 0, 0.5);
      @include respond-to(605) {
        top: -230px;
      }
      .chapter-number {
        font-size: 16px;
      }
      h1 {
        color: white;
        font-size: 80px;
        margin-bottom: -30px;
        @include respond-to(605) {
          font-size: 45px;
          margin-bottom: -20px;
        }
        @include respond-to(460) {
          font-size: 40px;
          margin-bottom: -15px;
        }

      }
      .post-reading {
        position: relative;
        right: 0px;
        font-size: 16px;
        text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25), 0px 0px 6px rgba(0, 0, 0, 0.8);
      }
    }
    h1 {
      font-size: 45px
    }
    h1, h2 {
      letter-spacing: normal;
    }
    h2 {
      margin-bottom: 4px;
      padding-top: 0;
    }
    h3, h4, h5, h6 {
      margin-bottom: 20px;
    }
    h1, h2, h3, h4, h5, h6 {
      color: $text-color;
      font-family: $font-bold;
    }
    .title-date {
      font-family: "Uni Grotesk Regular";
      font-size: 18px;
      font-weight: 100;
    }
    p {
      color: $text-color;
      font-size: 18px;
      @include hyphens(none);
      @include respond-to(600) {
        line-height: 25px;
      }
    }
    h1, h2, h3, h4, h5, h6, figure, div:not(.not-extended) {
      margin-left: -20px;
      margin-right: -20px;
      @include respond-to(600) {
        margin-left: 0;
        margin-right: 0;
      }
    }
    .fluid-width-video-wrapper {
      margin-left: 0 !important;
    }
    div.highlight p {
      font-family: $font-bold;
      font-size: 25px;
      line-height: 32px;
    }
    figcaption {
      margin-top: 10px;
      font-style: normal;
      font-size: 14px;
    }
    li {
      font-size: 18px;
    }

    hr {
      display:block;
      border:0px;
      height:20px;
      width:20px;
      margin-top: 10px;
      background-image:url(/user/images/hr.svg);
    }
  }
}

.post.subobject {
  color: $text-color;
  .breadcrumbs {
    padding: 0 20px;
    margin-top: -25px;
    margin-bottom: 25px;
    @include respond-to(805) {
      margin-top: 0;
    }
  }
  .chapter-title {
    margin-top: 50px;
    padding: 0 20px;
    h1 {
      color: $text-color;
      font-size: 60px;
      @include respond-to(605) {
        font-size: 40px;
      }
      @include respond-to(460) {
        font-size: 35px;
      }
    }
    .title-date {
      font-family: "Uni Grotesk Regular";
      font-size: 18px;
      font-weight: 100;
    }
  }
  .post-reading {
    top: -48px;
  }
}
.return{
  height: 200px;
  padding-top: 80px;
}
.return.chapter1 {
  background: 
    linear-gradient(
      rgba(249, 249, 247, 1),
      rgba(249, 249, 247, 0.5)
    ),
    url(/chapters/1-na-polceste-k-slovenskemu-statu/tiso.jpg);
}

.post.page {
  .page-title {
    padding: 15px;
    margin-bottom: 20px;
    h1 {
      font-size: 95px;
      @include respond-to(680) {
        font-size: 70px;
      }
      @include respond-to(460) {
        font-size: 45px;  
      }
    }
    img.headline-logo {
      height: 60px;
      @include respond-to(680) {
        height: 45px;
      }
      @include respond-to(460) {
        height: 30px;  
      }
    }
  }
  .post-content {
    padding: 50px;
    @include respond-to(600) {
      padding-left: 20px;
      padding-right: 20px;
    }
    h2 {
      margin-bottom: 35px;
    }
    ul li {
      margin-left: 20px;
    }
    .blank-list ul li {
      @include respond-to(600) {
        margin-left: 0;
      }
    }

  }
}

.sharing button, .sharing a {
  font-size: 16px;
  margin: 10px 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.subobject-overview {
  .subobject {
    figure{
      padding: 0;
      figcaption {
        display: none;
      }
      img {
        padding: 20px;
      }
    }
    .subobject-caption {
      text-decoration: none;
      font-size: 20px;
      font-weight: 900;
      margin-left: 10px;
      img.icon {
        height: 25px;
        margin-right: 10px;
      }
    }
    @include respond-to(600) {
      border: 1px solid black;
      margin-left: 25px;
      width: 93%;
      padding-left: 0;
      margin-top: 10px;
      margin-bottom: 10px;
      figure{
        display: inline;
        img {
          padding: 0 0;
          width: 25%;
        }
      }
    }
  }
}

#footer {
  a:hover {
    color: $light-grey;
  }
  .footer-icon {
    width: 25px;
    margin: auto 12px;
  }
  a svg #footericonsng,
  a svg #footericonfb { 
    fill: $grey;
  }
  a svg:hover #footericonsng,
  a svg:hover #footericonfb { 
    fill: $light-grey !important;
  }
  a svg.c-black #footericonsng,
  a svg.c-black #footericonfb { 
    fill: black;
  }
}
