$dark-green:     #3F3C25;
$light-grey:     #EFEFEF;
$dark-grey:      #7B7B7B;
$font-sans:      "Uni Grotesk Regular", Open Sans, MundoSans, "Helvetica Neue", Arial, Helvetica, sans-serif;
$red:            #E00000;

.cbp_tmtimeline {
  margin: 30px 0 0 0;
  padding: 0;
  list-style: none;
  position: relative;
} 

/* The line */
.cbp_tmtimeline:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background: white;
  left: 14%;
  margin-left: -10px;
}

.cbp_tmtimeline > li {
  position: relative;
  font-size: 16px;
}

/* The date/time */
.cbp_tmtimeline > li .cbp_tmtime {
  display: block;
  margin-left: 25%;
}

/* Right content */
.cbp_tmtimeline > li .cbp_tmlabel {
  margin: 0 0 15px 25%;
}
