<form id="email-capture" class="uk-form bg-red">
    <fieldset data-uk-margin>
        <legend class="c-black f-uni-grotesk-bold">{{emailCTA}}</legend>
        <input type="text" placeholder="{{emailPlaceholder}}" class="uk-form-large c-black bg-red f-uni-grotesk-regular">
        <button class="uk-button uk-button-large c-black f-uni-grotesk-bold">{{emailButton}}</button>
        <p class="c-black f-uni-grotesk-regular">{{emailNotice}}</p>
    </fieldset>
</form>