<form id="email-capture" class="uk-form bg-red">
    <fieldset data-uk-margin>
        <legend class="c-black">Let me know when the story opens</legend>
        <input type="text" placeholder="your e-mail" class="uk-form-large c-black bg-red">
        <button class="uk-button uk-button-large c-black">submit</button>
        <p class="c-black">first chapter will be released on 26. october</p>
    </fieldset>
</form>