<form id="email-capture" class="uk-form bg-red">
    <fieldset data-uk-margin>
        <legend class="c-black f-uni-grotesk-bold">Let me know when the story opens</legend>
        <input type="text" placeholder="your e-mail" class="uk-form-large c-black bg-red f-uni-grotesk-regular">
        <button class="uk-button uk-button-large c-black f-uni-grotesk-bold">submit</button>
        <p class="c-black f-uni-grotesk-regular">first chapter will be released on 26. october</p>
    </fieldset>
</form>