<div id="reading-progress">
    <progress value="0" data-uk-sticky="top:65, getWidthFrom:'.chapter'">
        <div class="progress-container">
            <span class="progress-bar"></span>
        </div>
    </progress>
</div>