<div class="sharing">
	<a class="uk-button button-ghost {{ sharingStylingClasses}}" href="mailto:?subject=Neprehliadnite: sen × skutočnosť - udalosti slovenského štátu v 4 kapitolách&body=Na webstránke Slovenskej národnej galérie som objavil projekt, ktorý by Vás mohol zaujímať:%0D%0A%0D%0Asen × skutočnosť - udalosti slovenského štátu v 4 kapitolách  http://senxskutocnost.sng.sk/" target="_blank">
		<i class="fa fa-envelope" aria-hidden="true"></i> Poslať mailom
	</a>
	<a class="uk-button button-ghost {{ sharingStylingClasses}}" type="button" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//senxskutocnost.sng.sk/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true" title="facebook"></i> Zdieľať</a>
	<a class="uk-button button-ghost {{ sharingStylingClasses}}" type="button" href="https://twitter.com/home?status=Novinku%20%40sng_gallery%20by%20ste%20ur%C4%8Dite%20nemali%20prehliadnu%C5%A5.%20Sen%20x%20skuto%C4%8Dnos%C5%A5%20-%20udalosti%20slovensk%C3%A9ho%20%C5%A1t%C3%A1tu%20v%204%20kapitol%C3%A1ch%3A%20http%3A//senxskutocnost.sng.sk/" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i> Tweet</a>
</div>