<div class="sharing">
	<a class="uk-button button-ghost" href="mailto:?subject=Check out: sen X skutočnosť | príbeh slovenského štátu v 4 kapitolách&body=I found this project that I'd like to share with you:%0D%0A%0D%0Asen X skutočnosť | príbeh slovenského štátu v 4 kapitolách - http://senxskutocnost.sng.sk/" target="_blank">
		<i class="fa fa-envelope" aria-hidden="true"></i> Poslať mailom
	</a>
	<a class="uk-button button-ghost" type="button" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//senxskutocnost.sng.sk/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true" title="facebook"></i> Share</a>
	<a class="uk-button button-ghost" type="button" href="https://twitter.com/home?status=http%3A//senxskutocnost.sng.sk/" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i> Tweet</a>
</div>